* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.main {
    background-color: #263657;
    width: 100%;
    height: 100%;
    padding: 3px 0;
}


/* .body {
    background: #B15089;
    background-size: cover;
    padding-bottom: 6px;
    background-image: linear-gradient(#263657, #263657);
    background-color: #263657;
} */

.AncherTags {
    text-decoration: none !important;
    color: black;
    cursor: pointer;
    font-size: 18px;
    border-bottom: 1px solid white;
}

.AncherTags:hover {
    color: #263657;
}

.login-page {
    max-width: 860px;
    /* min-height: 90vh; */
    margin: 30px auto;
    position: relative;
    background: white;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 1px 25px 36px 10px #1c273d;
}

.login-img img {
    max-width: 100%;
    min-height: 90vh;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.login-info {
    padding: 0 50px 0 10px;
}

.heading h1 {
    font-size: 30px;
    font-weight: bolder;
}


/* .person{
    max-width: 60px;
    min-height: 60px;
    background: #263657;
    border-radius: 30px;
    margin: auto;
} */

.person1 img {
    max-width: 70px;
}

.person i {
    font-size: 40px;
    color: white;
    padding-top: 8px;
}

.loginInp {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(212, 212, 212);
    ;
    padding: 20px 14px 10px 10px;
    font-size: 18px;
    transition: .3s;
}

.loginInp::placeholder {
    color: rgb(148, 148, 148);
    font-size: 16px;
}

.loginInp:focus {
    outline: none;
    border-bottom: 1px solid #263657;
}

.info p {
    font-size: 18px;
    padding-right: 10px;
    border-bottom: 1px solid white;
    cursor: pointer;
}

.info p:hover {
    /* border-bottom: 1px solid #263657; */
    color: #263657;
}

.form-button {
    border: none;
    padding: 10px 50px 12px 50px;
    color: white;
    font-size: 20px;
    border-radius: 30px;
    background: #263657;
    transition: .5s;
}

.form-button:hover {
    background: #182135;
}

@media screen and (min-width:320px) and (max-width:767px) {
    .signin-info {
        flex-direction: column;
    }
    .login-img img {
        display: none !important;
    }
}

@media screen and (max-width:767px) {
    .login-page {
        border-radius: 20px;
    }
    .login-img img {
        border-radius: 20px;
    }
    .info p {
        padding: 0;
    }
    /* .loginInp::placeholder{
        text-align: center;
    } */
    .login-info {
        padding: 0 40px;
    }
}

@media screen and (min-width:320px) and (max-width:1300px) {
    .login-page {
        border-radius: 20px;
    }
    .login-img img {
        border-radius: 20px;
    }
    .login-form {
        padding-top: 30px;
    }
    .signup-info p {
        padding: 0;
    }
    .signup-info {
        flex-direction: column;
    }
}